@keyframes spin {
	0% {
		transform: rotateZ(0deg) translateZ(0);
		/*help use GPU*/
	}

	100% {
		transform: rotateZ(360deg) translateZ(0);
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.fade-in {
	opacity: 0;
	animation: fade-in 0.5s ease-in forwards 0.1s;

}
.header {
	font-family: 'Lora', sans-serif;
	color: #8e4f0a;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #5f3507;
}

.cls-1 {
	stroke-width: 2px;
}

.cls-2 {
	stroke-width: 5px;
}

.cls-3 {
	fill: #BD772A;
	/*animation: shineFill .5s ease-in forwards .5s;*/
	transition: fill 2s ease;
	stroke-width: 0.1px;
}

.portal:hover .cls-3 {
	fill: #61007E;
}

.cls-1,
.cls-2 {
	fill: none;
	stroke: #BD772A;
	transition: stroke 2s ease;
	/*     animation: shineStroke .5s ease-in forwards .5s;*/
	stroke-miterlimit: 10;
}

.portal:hover .cls-1,
.portal:hover .cls-2 {
	stroke: #3915ea;
}

.portal {
	animation: spin 300s ease infinite;
	margin: 10px 3%;
	transition: 0.4s all ease;
}

.portal:hover {
	-webkit-filter: drop-shadow(0px 3px 15px white);
	filter: drop-shadow(0px 0px 0px white);
	filter: drop-shadow(0px 3px 15px white);
}



.delay-little {
	animation-delay: 0.2s;
}

.delay-high {
	animation-delay: 0.4s;
}

.center-text {
	text-align: center;
	position: relative;
	top: -15px;
}

.center-header {
	font-size: 24px;
}

.center-header,
.center-paragraph {
	transition: color 0.4s ease;
}

.portfolio-item:hover .center-header,
.portfolio-item:hover .center-paragraph {
	color: #262261;
}

.hero {
    padding-top:100px;
	max-width: 992px;
	margin: 0 auto;
	text-align: center;
}
#hero-img {

    max-width: 500px;
    margin:0 auto;
}
.title {
    margin-bottom: 0;
}
